@model BookClubPage.Models.book

@{
    ViewBag.Title = "Details";
}

<h2 class="lob-font">@Model.TITLE</h2>

<div class="contianer book-detail-container">
    <table>
        <tr>
            <td class="label-td">
                <label class="detail-label">Auhtor:</label>
            </td>
            <td>
                @Html.ActionLink(@Model.authors.First().FIRSTNAME+" "+@Model.authors.First().LASTNAME, "Details", "authors",new {id=Model.authors.First().AUTHOR_ID},null)
            </td>
        </tr>
        <tr>
            <td class="label-td">
                <label class="detail-label">Description:</label>
            </td>
            <td>
                <span>@Model.DESCRIPTION</span>
            </td>
        </tr>
        <tr>
            <td class="label-td">
                <label class="detail-label">Average Rating:</label>
            </td>
            <td>
                @ViewBag.Average
            </td>
        </tr>
        <tr>
            <td class="label-td">
                <label class="detail-label">Reviews:</label>
            </td>
            <td>
                <ul class="review-list">
                    @foreach (var r in @ViewBag.Reviews)
                    {
                        <li>@r.USERNAME Rated this book @r.RATING</li>
                    }
                </ul>
                @Html.ActionLink("Previous", "Details", new { id = Model.BOOK_ID, pageNum = ViewBag.PageNumber - 1 }, new { @class = "btn btn-default book-list-buttons btn-sm" })
                @Html.ActionLink("Next", "Details", new { id = Model.BOOK_ID, pageNum = ViewBag.PageNumber + 1 }, new {@class = "btn btn-default book-list-buttons btn-sm" })
                @Html.ActionLink("Add A Review", "Create", "reviews",new { book_id = Model.BOOK_ID },new { @class = "btn btn-default book-list-buttons btn-sm" });
            </td>
        </tr>

    </table>



</div>


<!--
    <ul class="book-list">

        <li>
            <label class="detail-label">Auhtor:</label>
            <span>@Model.authors.First().FIRSTNAME @Model.authors.First().LASTNAME</span>
        </li>
        <li>
            <table>
                <tr>
                    <td>
                        <label class="detail-label">Description:</label>
                        </td>
                    <td>
                        <span>@Model.DESCRIPTION</span>
                    </td>
            </table>
        </li>
    </ul>
</div>
-->
<!--
    <div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            Average Rating
        </dt>

        <dd>
            @ViewBag.Average
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.reviews)
        </dt>
        <dd>
            <ul>
                @foreach(var r in Model.reviews)
                {
                    <li>@r.USERNAME Rated this book @r.RATING</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BOOK_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    -->