@model BookClubPage.Models.author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="authorDetailContainer">
    <h4>@Html.DisplayFor(model => model.FIRSTNAME) @Html.DisplayFor(model => model.LASTNAME) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTNAME)
        </dd>
        <dt>
            Books:
        </dt>
        <dd>
            <ul>
            @foreach(var b in ViewBag.authBooks)
            {
                <li>@b.TITLE</li>
            }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AUTHOR_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
