@model IEnumerable<BookClubPage.Models.author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container authorListContainer">
    @foreach(var a in Model)
    {
        @Html.ActionLink(@a.FIRSTNAME+" "+ @a.LASTNAME, "Details", new { id = a.AUTHOR_ID })
        <br/>
    }
</div>
<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIRSTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LASTNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AUTHOR_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AUTHOR_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AUTHOR_ID })
        </td>
    </tr>
}

</table>
    -->