<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Club</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon" />
    <link href="~/Content/CustomStyles.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top customNav">
                <ul class="nav navbar-nav btn-group-sm">
                   <li>@Html.ActionLink("Profile", "Details", "users", new { area = "" }, new { @class = "customNavButton btn btn-default navbar-btn btn-sm" })</li>
                   <li>@Html.ActionLink("Browse", "Index", "Books", new { area = "" }, new { @class = "customNavButton btn btn-default navbar-btn" })</li>
                   <li>@Html.ActionLink("New Book", "Create", "Books", new { area = "" }, new { @class = "customNavButton btn btn-default navbar-btn" })</li>
                   <li>@Html.ActionLink("Home", "Index", "Others", new { area = "" }, new { @class = "customNavButton btn btn-default navbar-btn" })</li>
                </ul>

        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>