@model BookClubPage.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>@User.Identity.Name</h2>

<div class="container bookclub-content-container">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRSTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.reviews)
        </dt>
        <dd>
            <ul class="review-list">
            @foreach (var r in Model.reviews)
            {
                <li>@r.book.TITLE @(r.RATING+5)</li>
            }
                </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USERNAME }) |
    @Html.ActionLink("Back to List", "Index")
</p>
